.root {
    -fx-font-family: "Arial";
    -fx-background-image: url('file:src/main/resources/es/ies/puerto/img/background.png');
    -fx-background-size: cover;
}

Text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

ComboBox {
    -fx-pref-width: 105px;
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
    -fx-background-color: #f0a500;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, grey, 5, 0.5, 2, 2);
}

.text-field, .password-field {
    -fx-pref-height: 30px;
    -fx-pref-width: 220px;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 1.5px;
    -fx-background-color: #ffffff;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, grey, 5, 0.5, 2, 2);
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #f0a500;
}

.button {
    -fx-pref-width: 140px;
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
    -fx-background-color: #f0a500;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, grey, 5, 0.5, 2, 2);
}

.button:hover {
    -fx-background-color: #ffcc00;
}

#textMensaje {
    -fx-wrapping-width: 250px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-text-alignment: center;
}

#openAceptarButton {
    -fx-pref-width: 120px;
    -fx-pref-height: 40px; 
}

#openRegistrarButton {
    -fx-pref-width: 160px;
    -fx-pref-height: 40px;
}

#buttonRecuperarContrasenia {
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
}